<div id="burger-body">
<h1>Burgers!</h1>
<img alt="image of a burger" id="burger-img" src="/assets/img/burger.svg"/>


<h2>Burger that are not devoured!</h2>




<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>{{burger_name}}
    <button class="change-devoured" data-id="{{id}}">Devour Burger</button></li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>{{burger_name}}</li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger-name">Burger Name:</label>
        <input type="text" id="burger-name" name="name">
    </div>

    <div class="form-group">
        <label for="burger-devoured">Devoured?</label><br>
        <input type="radio" name="burger-devoured" value="1" checked>Devoured!<br>
        <input type="radio" name="burger-devoured" value="0"> Not devoured
    </div>

    <button type="submit">Add Burger</button>
</form>

<footer id="footer"><a href="https://www.vecteezy.com/free-vector/fast-food">Fast Food Vectors by Vecteezy</a></footer>

</div>